body {
    background: #ffffff repeat-x scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    color: #333333;
    font-family: Verdana, Arial, Helvetiva, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: normal;
    font-size-adjust: none;
    font-stretch: normal;
}

h1.systemtitle {
    clear: both;
    font: 23px Arial;
    font-style: normal;
    font-variant: normal !important;
    font-weight: bold;
    line-height: normal;
    font-size-adjust: none;
    font-stretch: normal;
    padding-top: 4px;
}

.paneltop {
    color: #101010;
    font-size: 11px;
    padding-left: 190px;
    background: #EFEFEF url('logo.png') no-repeat 10px 10px;
}

.panelcopyright {
    background-color: #5b5b5b;
    color: #DDDDDD;
    text-align: center;
    font-size: 9px;
    padding-top: 5px;
}

.nav_button_selected {
    background-color: #DA291C !important;
}

td.cmswestpanel {
    background-color: #EFEFEF;
}

td.cmseastpanel {
    background-color: #EFEFEF;
}
